## Lab | MySQL

#### Group: Dinis, Kristina, Nikita and Luis

#### Connect to BigQuery

In [ ]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/Dinis/ironhack/ironhack_service_account_big_query.json"

In [2]:
import six
six.moves.reload_module(six)

In [ ]:
from google.cloud import bigquery

In [ ]:
client = bigquery.Client()

## Challenge 2 - Create the Database and Tables

### Write the SQL query to create the tables and columns. You will be using the CREATE TABLE statement for which you can find reference here.

#### Creating the table car_dealership.invoices

In [ ]:
sql = '''
CREATE TABLE car_dealership.invoices(
    invoice_id NUMERIC, 
    date DATE, 
    car NUMERIC, 
    spare_part NUMERIC, 
    customer NUMERIC, 
    salesperson NUMERIC);
    '''

In [ ]:
query_job = client.query(query=sql)

## Challenge 3 - Seeding the Database

#### You should only insert data into the table you have created.

In [ ]:
sql_2 = '''
INSERT INTO `ironhack-data-analytics-265219.car_dealership.invoices`
    VALUES (852399038, '22-08-2018', 0, 13, 2), (731166526, '2018-12-31', 3, 0, 6, 1), (271135104, '2019-01-22', 2, 2, 2, 8);
    '''

In [ ]:
query_job = client.query(query=sql2)